.App {
  text-align: center;
}
.app-baseline-layout {
  background-color: #84dad6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Trebuchet MS;
  color:#00BFFF;
}

.header-spacing {
  padding: 5%;
}
.home-title-text {
  font-size: 15vh;
  color: 	#4169E1;
}
.font-awesome-icon {
  text-align: center;
  font-size: 8vh;
}

.body-layout{
  background-color: #84dad6;
  font-size: 5vh;
}
